body {
    font-family: sans-serif;
}
body {
    font-family: sans-serif;
}
body {
      font-family: sans-serif; 
     } 
      header { 
      font-size: 50px;
      margin-bottom: 15px; 
      } 
      h1 { 
      color: rgb(234, 148, 249); 
      font-family: sans-serif; 
      padding: 30px; 
      text-align: center; 
      background-color: rgb(243, 252, 182); 
      } 
a { 
      color: rgb(232, 121, 249); 
      height: 100px; 
      margin: 15px; 
     }
a:hover { 
      color: rgb(116, 191, 249); 
      }
p { 
      font-size: 20px; 
      background-color: rgb(247, 249, 177); 
      color: rgb(241, 201, 92); 
      margin: 3px; 
      padding: 8px; 
      border: 3px solid rgb(251, 152, 134); 
      border-radius: 50px; 
       } 
p:hover { 
      background-color: rgb(189, 222, 255); 
      color: rgb(100, 167, 255); 
      border:3px solid rgb(241, 182, 252);
} 
footer { 
      background-color: rgb(252, 254, 203); 
      padding: 20px; 
      } 
img { 
      padding: 10px; 
      } 
img:hover { 
      padding: 10px; 
      background-color: white; 
      border-radius: 15px; 
      } 
li { 
      font-size: 20px; 
      font-weight: bold; 
      margin: 10px; 
    } 
ul { 
      padding: 3px; 
      padding-left: 25px; 
      border-radius: 15px; 
      border: rgb(227, 156, 240) solid 5px; 
      }
