body {
    font-family: sans-serif;
}
body {
    font-family: sans-serif;
}
body {
     font-family: sans-serif; 
} 

header {
     font-size: 50px;
      margin-bottom: 15px;
}

h1 {
    color: white;
    font-family: sans-serif;
    padding: 30px;
    text-align: center;
    background-color: rgb(255, 64, 0);
}

a {
    color: rgb(75, 120, 135);
    height: 100px; margin: 15px;
}

a:hover {
    color: rgb(22, 21, 96);
} 
p { 
    font-size: 20px;
    background-color: rgb(32, 18, 87);
    color: white; 
    margin: 3px;
    padding: 8px;
    border: 3px solid black; 
    border-radius: 10px; 
} 

p:hover { 
    background-color: white;
    color: black;
} 
footer { 
    background-color: black;
    padding: 20px;
} 
img {
    padding: 10px;
} 
  
img:hover { padding: 10px; 
    background-color: white;
    border-radius: 15px;
} 
li { 
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
ul { 
    padding: 3px;
    padding-left: 25px; 
    border-radius: 15px;
    border: black solid 5px; 
}

